.buttonCount{
    width: 170px;
    height: 40px;
    border-radius: 8px;
    box-shadow: 0px 11px 29px 0px #0000000D;
    //background-color: $color-white;
    //background-color: aqua;
    display: flex;
    justify-content:space-around;
    align-items: center;
    div{
        cursor: pointer;
    }
}