.pay{
    height: 40px;
    width: 239px; 
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background-color: $color-malachite;
    color: $color-white;
    border: unset;
    &__count{
        height: 24px;
        width: 25px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        background-color:#2E7E78;
    }

}