.itemList{
    width: 100%;
    height: 650px;
    background-color: $color-white;   
    &__body{
        width: 100%;
        height: 623px;
        overflow-y: scroll; 
    }
    &__footer{
        width: 100%;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        span{
            color: $color-boulder;
            
        }
    }
    &__empty{
        cursor: pointer;
    }
    &__empty:hover{
        color: $color-orange;
    }
}