.itemList{
    width: 100%;
    height: 650px;
    background-color: $color-white;   
    &__body{
        width: 100%;
        height: 623px;
        overflow-y: scroll; 
    }
    &__footer{
        width: 100%;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        span{
            color: $color-boulder;
            
        }
    }
    &__empty{
        cursor: pointer;
    }
    &__empty:hover{
        color: $color-orange;
    }
    @include tablet{
       // background-color: aquamarine;
        height: 100vh;
        &__body{
            
            height: 530px;
           
        }
    }
    @include small{
        height: 100vh;
        &__body{
            
            height: 530px;
           
        }

    }
    @include medium{
        &__body{
            
            height: 530px;
           
        }
    }
    @include large{
        &__body{
            
            height: 530px;
           
        }
    }
}