.item{
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;
    background-color: $color-white;
    &__image{
        width: 64px;
        height: 64px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__body{
        width: 251px;
        height: 56px;

    }
}