.null{
    width: 100%;
    height: 650px;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__button{
        @include button(181px);
        margin-top: 25px;
    }
}