$color-white: #fefefe; 
$color-malachite: #0ac763; 
$color-silver: #bdbcbc; 
$color-cocoabrown: #332927; 
$color-boulder: #b8b4b4; 
$color-scarlet: #ff1f18; 
$color-cobalt: #0252bc; 
$color-black: #333333; 
$color-purple: #5e18bb; 
$color-purple-bg: #f0e3fe; 
$color-bg: #fafaf8; 
$color-orange: #fc462d; 