
$font: 'Poppins', sans-serif;


$headline1: 600 1.75rem/normal $font; 
$headline2: 600 1.5rem/normal $font; 
$headline3: 600 1.25rem/1.375rem $font; 
$button: 400 0.875rem/1rem $font; 
$body1-regular: 400 1rem/1.5rem $font; 
$body1-bold: 700 1rem/1.5rem $font; 
$body2-bold: 700 0.875rem/1.5rem $font; 
$body2-regular: 400 0.875rem/1.5rem $font; 
$caption-regular: 400 0.75rem/1rem $font; 
$caption-bold: 600 0.75rem/1rem $font; 


h1{
    font:$headline1 ;
   
}
h2{
    font:$headline2 ;
}
h3{
    font:$headline3;
}
.body-1-bold{
    font:$body1-bold;
}
.body1-regular{
    font:$body1-regular;
    @include small{
        //styleName: Body 2/Regular;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;

    }
}
.caption-regular{
    font: $caption-regular;
}
.body-2-regular{
    font:$body2-regular;
}
.body-2-bold{
   font: $body2-bold;
}